body {
    
}

/*HEADER*/
header {
    padding: 14px 0px;
}

.header-logo {
    width: 180px;
}

.top-nav {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav a {
    margin-right: 10px;
}

.top-nav a:last-child {
    margin-right: 0;
}

.top-search {
    height: 58px;
    display: flex;
    align-items: center;
}

.top-brand {
    height: 58px;
}

.navbar-collapse {
    padding-left: 0;
    padding-top: 0;
}

.navbar-padding {
    padding-left: 15px;
    padding-top: 15px;
}


/*CONTENT*/
.slider {
    margin-bottom: 20px;
}

.btn-call{
    width: 100%;
    text-align: center;
}

.brands {
    padding-bottom: 40px;
}

.brands img {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*FOOTER*/
footer {
    padding: 20px 0px;
    min-height: 140px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}
