/***HEADER***/
.header {
    height: 420px;
    position: relative;
}

.header .profile-wrap {
    height: 420px; 
    padding: 129px 0;
}

.header .profile-wrap img {
    width: 162px;
    display: inline-block;
    float: left;
}

.header .profile-wrap h1 {
    padding-left: 20px;
    max-width: 500px;
    height: 162px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header-nav a {
    color: #000;
}

.header-nav a:hover {
    color: #4aff86;
}


/***SECTION BLACK***/
.section-black {
    background-color: #2b2b2b;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
}

.section-black a {
    color: #4aff86;
}


/***YOUTUBE VIDEO***/
.youtube-video img {
    width: 100%;
}

.youtube-video iframe {
    width: 100%;
}

.events img {
    width: 100%;
}


/***EXPERIMENTAL GAMES***/
.experimental-games {
    overflow: hidden;
}

.experimental-games a {
    color: #333;
    text-decoration: none;
}

.experimental-games a:hover {
    color: #000;
}

.experimental-games img {
    width: 100%;
}

.experimental-games h4 {
    font-weight: 700;
    font-size: 12px;
    color: #2b2b2b;
    margin-bottom: 0px;
}

.experimental-games p {
	font-size: 12px;
}

.table {
    color: #000;
}



.custom-link {
    color: #000;
    cursor: pointer;
    border-bottom: 2px #999 solid;
    padding-bottom: 6px;
    margin-bottom: 12px;
}


/***FOOTER***/
footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 40px 0;
}

footer a {
    color: #4aff86;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 8px;
}

footer small {
    color: #ccc;
}

footer a:hover {
    color: #a4ffc0;
    text-decoration: none;
} 

footer h3 {
    margin: 0; 
    margin-left: 160px;
    height: 141px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer .hobbies {
    padding-top: 0px;
}


@media all and (max-width: 640px) {
    .header {
        height: 240px;
    }

    .header .profile-wrap {
        padding: 15px 0;
        height: 240px;
    }

    .header .profile-wrap h1 {
        padding-left: 15px;
        font-size: 30px;
        height: 120px;
    }

    .header .profile-wrap img {
        width: 120px;
        float: left;
    }
}

@media all and (min-width: 768px) {
    h1 {
        font-size: 48px;
    }
}